section.gists{

  h1{
    color: #444;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  article{
    padding: 1vw 1rem;
    time{
      font-size: .7em;
      letter-spacing: .05em;
      margin: 0;
    }
    h3{
      font-weight: normal;
      font-size: 1.2em;
      margin-bottom: 0;
    }
    h4{
      margin-bottom: 0;
      margin-top: .5em;
      text-transform: uppercase;
      color: #444;
    }
    p{
      font-family: sans-serif;
      font-size: .8em;
      padding-top: .6em;
      border-top: 1px dotted #ddd;
    }
  }
}
